### Importing Libraries

In [1]:
import numpy as np
import pandas as pd

In [59]:
df = pd.read_csv("C:\\Users\\khati\\GITHUB\\python\\dataset\\netflix_titles_2021.csv")

### Converting each column into numpy array

In [12]:
all_col = []
for colName in df:
    colName = df[colName].dropna().to_numpy()
    all_col.append(colName)

In [23]:
all_col[0].size

8807

### Column Name : Type

In [24]:
type_col = df['type'].dropna().to_numpy()
type_col

array(['Movie', 'TV Show', 'TV Show', ..., 'Movie', 'Movie', 'Movie'],
      shape=(8807,), dtype=object)

In [27]:
unique_type,count = np.unique(type_col,return_counts=True)
print(unique_type)
print(count)

['Movie' 'TV Show']
[6131 2676]

### Column Name: Country

In [36]:
country = df['country'].dropna().to_numpy()
country

array(['United States', 'South Africa', 'India', ..., 'United States',
       'United States', 'India'], shape=(7976,), dtype=object)

In [30]:
unique_type,count = np.unique(country,return_counts=True)
print(unique_type)
print(count)

[', France, Algeria' ', South Korea' 'Argentina'
 'Argentina, Brazil, France, Poland, Germany, Denmark' 'Argentina, Chile'
 'Argentina, Chile, Peru' 'Argentina, France'
 'Argentina, France, United States, Germany, Qatar' 'Argentina, Italy'
 'Argentina, Spain' 'Argentina, United States'
 'Argentina, United States, Mexico' 'Argentina, Uruguay, Serbia'
 'Argentina, Uruguay, Spain, France' 'Argentina, Venezuela' 'Australia'
 'Australia, Armenia, Japan, Jordan, Mexico, Mongolia, New Zealand, Philippines, South Africa, Sweden, United States, Uruguay'
 'Australia, Canada' 'Australia, France' 'Australia, France, Ireland'
 'Australia, Germany' 'Australia, India' 'Australia, Iraq'
 'Australia, New Zealand' 'Australia, New Zealand, United States'
 'Australia, United Arab Emirates' 'Australia, United Kingdom'
 'Australia, United Kingdom, Canada'
 'Australia, United Kingdom, United Arab Emirates, Canada'
 'Australia, United Kingdom, United States, New Zealand, Italy, France'
 'Australia, United States' 'Austria' 'Austria, Czech Republic'
 'Austria, Germany' 'Austria, Iraq, United States'
 'Austria, United States' 'Bangladesh' 'Belarus' 'Belgium'
 'Belgium, France' 'Belgium, France, Netherlands'
 'Belgium, Ireland, Netherlands, Germany, Afghanistan'
 'Belgium, Netherlands' 'Belgium, United Kingdom'
 'Belgium, United Kingdom, United States' 'Brazil' 'Brazil, France'
 'Brazil, France, Germany' 'Brazil, India, China, United States'
 'Brazil, Netherlands, United States, Colombia, Austria, Germany'
 'Brazil, United Kingdom' 'Brazil, United States' 'Bulgaria'
 'Bulgaria, United States' 'Bulgaria, United States, Spain, Canada'
 'Cambodia' 'Cambodia, United States' 'Cameroon' 'Canada'
 'Canada, Australia' 'Canada, Belgium' 'Canada, Brazil' 'Canada, France'
 'Canada, France, Italy, Morocco, United States'
 'Canada, France, United States' 'Canada, Germany'
 'Canada, Germany, France, United States' 'Canada, Germany, South Africa'
 'Canada, Hungary, United States' 'Canada, India'
 'Canada, India, Thailand, United States, United Arab Emirates'
 'Canada, Ireland, United States' 'Canada, Japan, Netherlands'
 'Canada, Japan, United States' 'Canada, Luxembourg'
 'Canada, Mexico, Germany, South Africa' 'Canada, Nigeria'
 'Canada, Nigeria, United States' 'Canada, Norway' 'Canada, South Africa'
 'Canada, South Korea, United States' 'Canada, Spain'
 'Canada, Spain, France' 'Canada, United Kingdom'
 'Canada, United Kingdom, Netherlands'
 'Canada, United Kingdom, United States' 'Canada, United States'
 'Canada, United States, Cayman Islands' 'Canada, United States, Denmark'
 'Canada, United States, France' 'Canada, United States, Germany'
 'Canada, United States, India, United Kingdom'
 'Canada, United States, Ireland' 'Canada, United States, Mexico'
 'Canada, United States, United Kingdom'
 'Canada, United States, United Kingdom, France, Luxembourg' 'Chile'
 'Chile, Argentina' 'Chile, Argentina, France, Spain, United States'
 'Chile, Brazil' 'Chile, France' 'Chile, Italy' 'Chile, Peru'
 'Chile, Spain, Argentina, Germany' 'Chile, United States, France' 'China'
 'China, Canada, United States' 'China, Germany, India, United States'
 'China, Hong Kong' 'China, Hong Kong, United States'
 'China, India, Nepal' 'China, Japan' 'China, Morocco, Hong Kong'
 'China, South Korea, United States'
 'China, Spain, South Korea, United States' 'China, Taiwan'
 'China, United Kingdom' 'China, United States'
 'China, United States, Australia' 'China, United States, Canada'
 'China, United States, United Kingdom' 'Colombia' 'Colombia, Mexico'
 'Colombia, Mexico, United States' 'Colombia, Peru, United Kingdom'
 'Colombia, United States' 'Croatia'
 'Croatia, Slovenia, Serbia, Montenegro' 'Cyprus' 'Czech Republic, France'
 'Czech Republic, Slovakia' 'Czech Republic, United Kingdom, France'
 'Czech Republic, United Kingdom, United States'
 'Czech Republic, United States' 'Denmark'
 'Denmark, Brazil, France, Portugal, Sweden' 'Denmark, China'
 'Denmark, France, Belgium, Italy, Netherlands, United States, United Kingdom'
 'Denmark, France, Poland' 'Denmark, France, United States, Sweden'
 'Denmark, Germany, Belgium, United Kingdom, France'
 'Denmark, Germany, Belgium, United Kingdom, France, Sweden'
 'Denmark, Indonesia, Finland, Norway, United Kingdom, Israel, France, United States, Germany, Netherlands'
 'Denmark, Singapore, Canada, United States' 'Denmark, Spain'
 'Denmark, Sweden, Israel, United States'
 'Denmark, United Kingdom, South Africa, Sweden, Belgium'
 'Denmark, United Kingdom, Sweden' 'Denmark, United States'
 'Denmark, Zimbabwe' 'Egypt' 'Egypt, Algeria'
 'Egypt, Austria, United States' 'Egypt, Denmark, Germany' 'Egypt, France'
 'Egypt, Saudi Arabia' 'Finland' 'Finland, France' 'Finland, Germany'
 'Finland, Germany, Belgium' 'Finland, Sweden, Norway, Latvia, Germany'
 'Finland, United States' 'France' 'France, Algeria'
 'France, Australia, Germany' 'France, Belgium'
 'France, Belgium, China, United States' 'France, Belgium, Italy'
 'France, Belgium, Luxembourg, Cambodia,'
 'France, Belgium, Luxembourg, Romania, Canada, United States'
 'France, Belgium, Spain' 'France, Belgium, United States'
 'France, Brazil, Spain, Belgium' 'France, Canada'
 'France, Canada, Belgium' 'France, Canada, China, Cambodia'
 'France, Canada, Italy, United States, China'
 'France, Canada, United States' 'France, Canada, United States, Spain'
 'France, China, Japan, United States' 'France, Egypt' 'France, Germany'
 'France, Germany, Czech Republic, Belgium' 'France, Germany, Switzerland'
 'France, Iran, United States'
 'France, Israel, Germany, United States, United Kingdom' 'France, Japan'
 'France, Japan, United States' 'France, Lebanon'
 'France, Lebanon, United Kingdom' 'France, Luxembourg, Canada'
 'France, Luxembourg, United States' 'France, Malta, United States'
 'France, Morocco' 'France, Netherlands, Singapore'
 'France, Netherlands, South Africa, Finland' 'France, New Zealand'
 'France, Norway, Lebanon, Belgium' 'France, Qatar'
 'France, Senegal, Belgium' 'France, South Korea, Japan'
 'France, South Korea, Japan, United States'
 'France, Switzerland, Spain, United States, United Arab Emirates'
 'France, United Kingdom' 'France, United Kingdom, India'
 'France, United Kingdom, United States' 'France, United States'
 'France, United States, Canada' 'France, United States, Mexico'
 'France, United States, United Kingdom, Canada' 'Georgia'
 'Georgia, Germany, France' 'Germany' 'Germany, Australia'
 'Germany, Australia, France, China' 'Germany, Belgium'
 'Germany, Canada, United States' 'Germany, China, United Kingdom'
 'Germany, Czech Republic' 'Germany, France'
 'Germany, France, Luxembourg, United Kingdom, United States'
 'Germany, France, Russia'
 'Germany, France, United States, Canada, United Kingdom' 'Germany, Italy'
 'Germany, Jordan, Netherlands' 'Germany, Sri Lanka'
 'Germany, United Kingdom' 'Germany, United Kingdom, United States'
 'Germany, United States' 'Germany, United States, Canada'
 'Germany, United States, France'
 'Germany, United States, Hong Kong, Singapore'
 'Germany, United States, Italy' 'Germany, United States, Sweden'
 'Germany, United States, United Kingdom, Canada' 'Ghana'
 'Ghana, United States' 'Greece, United States' 'Guatemala' 'Hong Kong'
 'Hong Kong, Canada, United States' 'Hong Kong, China'
 'Hong Kong, China, Singapore' 'Hong Kong, China, United States'
 'Hong Kong, Iceland, United States' 'Hong Kong, Taiwan'
 'Hong Kong, United States' 'Hungary' 'Hungary, United States' 'Iceland'
 'Iceland, Sweden, Belgium' 'India' 'India, Australia' 'India, Canada'
 'India, France' 'India, Germany' 'India, Germany, Austria'
 'India, Germany, France' 'India, Iran' 'India, Japan' 'India, Malaysia'
 'India, Mexico' 'India, Nepal' 'India, Pakistan' 'India, Soviet Union'
 'India, Switzerland' 'India, Turkey' 'India, United Kingdom'
 'India, United Kingdom, Canada, United States'
 'India, United Kingdom, China, Canada, Japan, South Korea, United States'
 'India, United Kingdom, France, Qatar' 'India, United States' 'Indonesia'
 'Indonesia, Netherlands' 'Indonesia, Singapore'
 'Indonesia, South Korea, Singapore' 'Indonesia, United Kingdom'
 'Indonesia, United States' 'Iran, France' 'Ireland' 'Ireland, Canada'
 'Ireland, Canada, Luxembourg, United States, United Kingdom, Philippines, India'
 'Ireland, Canada, United Kingdom, United States'
 'Ireland, Canada, United States, United Kingdom'
 'Ireland, France, Iceland, United States, Mexico, Belgium, United Kingdom, Hong Kong'
 'Ireland, Luxembourg, Belgium' 'Ireland, South Africa'
 'Ireland, Switzerland, United Kingdom, France, United States'
 'Ireland, United Kingdom' 'Ireland, United Kingdom, France, Germany'
 'Ireland, United Kingdom, Greece, France, Netherlands'
 'Ireland, United Kingdom, Italy, United States'
 'Ireland, United Kingdom, United States' 'Ireland, United States'
 'Ireland, United States, France' 'Ireland, United States, United Kingdom'
 'Israel' 'Israel, Germany' 'Israel, Germany, France'
 'Israel, Germany, Poland, Luxembourg, Belgium, France, United States'
 'Israel, Sweden, Germany, Netherlands' 'Israel, United States' 'Italy'
 'Italy, Belgium' 'Italy, Brazil, Greece' 'Italy, Canada, France'
 'Italy, France' 'Italy, France, Switzerland' 'Italy, Germany'
 'Italy, India'
 'Italy, South Africa, West Germany, Australia, United States'
 'Italy, Switzerland, Albania, Poland'
 'Italy, Switzerland, France, Germany' 'Italy, Turkey'
 'Italy, United Kingdom' 'Italy, United Kingdom, France'
 'Italy, United States' 'Italy, United States, Argentina'
 'Jamaica, United States' 'Japan' 'Japan, Canada'
 'Japan, Canada, United States' 'Japan, United States' 'Jordan' 'Kenya'
 'Kenya, United States' 'Kuwait' 'Kuwait, United States' 'Lebanon'
 'Lebanon, Canada, France' 'Lebanon, France'
 'Lebanon, Palestine, Denmark, Qatar' 'Lebanon, Qatar' 'Lebanon, Syria'
 'Lebanon, United Arab Emirates'
 'Lebanon, United Arab Emirates, France, Switzerland, Germany'
 'Lebanon, United States, United Arab Emirates' 'Luxembourg' 'Malaysia'
 'Malaysia, Singapore, Hong Kong' 'Mauritius' 'Mauritius, South Africa'
 'Mexico' 'Mexico, Argentina' 'Mexico, Brazil' 'Mexico, Finland'
 'Mexico, France' 'Mexico, France, Colombia' 'Mexico, Netherlands'
 'Mexico, Spain' 'Mexico, United States'
 'Mexico, United States, Spain, Colombia' 'Mozambique' 'Namibia'
 'Netherlands' 'Netherlands, Belgium'
 'Netherlands, Belgium, Germany, Jordan'
 'Netherlands, Belgium, United Kingdom, United States'
 'Netherlands, Denmark, France, Germany'
 'Netherlands, Denmark, South Africa'
 'Netherlands, Germany, Denmark, United Kingdom'
 'Netherlands, Germany, Italy, Canada' 'Netherlands, United States'
 'New Zealand' 'New Zealand, Australia, France, United States'
 'New Zealand, United Kingdom' 'New Zealand, United Kingdom, Australia'
 'New Zealand, United States' 'Nigeria' 'Nigeria, United Kingdom' 'Norway'
 'Norway, Denmark' 'Norway, Denmark, Netherlands, Sweden'
 'Norway, Denmark, Sweden' 'Norway, Germany' 'Norway, Germany, Sweden'
 'Norway, Iceland, United States' 'Norway, Sweden'
 'Norway, United Kingdom, France, Ireland' 'Norway, United States'
 'Pakistan' 'Pakistan, Norway, United States'
 'Pakistan, United Arab Emirates' 'Pakistan, United States'
 'Paraguay, Argentina' 'Peru' 'Peru, Germany, Norway'
 'Peru, United States, United Kingdom' 'Philippines'
 'Philippines, Canada, United Kingdom, United States' 'Philippines, Qatar'
 'Philippines, Singapore' 'Philippines, Singapore, Indonesia'
 'Philippines, United States' 'Poland' 'Poland,' 'Poland, United States'
 'Poland, West Germany' 'Portugal, France, Poland, United States'
 'Portugal, Spain' 'Portugal, United States'
 'Puerto Rico, United States, Colombia' 'Romania'
 'Romania, Bulgaria, Hungary' 'Romania, France, Switzerland, Germany'
 'Romania, United Kingdom' 'Romania, United States' 'Russia'
 'Russia, Poland, Serbia' 'Russia, Spain' 'Russia, United States'
 'Russia, United States, China' 'Saudi Arabia'
 'Saudi Arabia, Netherlands, Germany, Jordan, United Arab Emirates, United States'
 'Saudi Arabia, Syria, Egypt, Lebanon, Kuwait'
 'Saudi Arabia, United Arab Emirates' 'Senegal'
 'Serbia, South Korea, Slovenia' 'Serbia, United States' 'Singapore'
 'Singapore, France' 'Singapore, Japan, France' 'Singapore, Malaysia'
 'Singapore, United States'
 'Slovenia, Croatia, Germany, Czech Republic, Qatar'
 'Somalia, Kenya, Sudan, South Africa, United States' 'South Africa'
 'South Africa, Angola' 'South Africa, China, United States'
 'South Africa, Germany, Netherlands, France' 'South Africa, Nigeria'
 'South Africa, United States' 'South Africa, United States, Germany'
 'South Africa, United States, Japan'
 'South Africa, United States, New Zealand, Canada' 'South Korea'
 'South Korea, Canada, United States, China' 'South Korea, China'
 'South Korea, China, United States' 'South Korea, Czech Republic'
 'South Korea, France' 'South Korea, Japan' 'South Korea, United States'
 'Soviet Union, India' 'Spain' 'Spain, Argentina' 'Spain, Belgium'
 'Spain, Belgium, United States' 'Spain, Canada, United States'
 'Spain, Colombia' 'Spain, Cuba' 'Spain, France' 'Spain, France, Canada'
 'Spain, France, Canada, United States' 'Spain, France, Italy'
 'Spain, France, United Kingdom, United States'
 'Spain, France, United States' 'Spain, France, Uruguay' 'Spain, Germany'
 'Spain, Germany, Denmark, United States' 'Spain, Italy'
 'Spain, Italy, Argentina' 'Spain, Mexico' 'Spain, Mexico, France'
 'Spain, Portugal' 'Spain, Switzerland' 'Spain, Thailand, United States'
 'Spain, United Kingdom' 'Spain, United Kingdom, United States'
 'Spain, United States' 'Sweden'
 'Sweden, Czech Republic, United Kingdom, Denmark, Netherlands'
 'Sweden, Netherlands' 'Sweden, United Kingdom, Finland'
 'Sweden, United States' 'Switzerland' 'Switzerland, France'
 'Switzerland, France, Belgium, United States'
 'Switzerland, United Kingdom, Australia'
 'Switzerland, United Kingdom, United States' 'Switzerland, United States'
 'Switzerland, Vatican City, Italy, Germany, France'
 'Syria, France, Lebanon, Qatar' 'Taiwan' 'Taiwan, China'
 'Taiwan, China, France, United States'
 'Taiwan, Hong Kong, United States, China' 'Taiwan, Malaysia' 'Thailand'
 'Thailand, Canada, United States' 'Thailand, China, United States'
 'Thailand, United States' 'Turkey' 'Turkey, Azerbaijan'
 'Turkey, France, Germany, Poland' 'Turkey, India' 'Turkey, South Korea'
 'Turkey, United States' 'Ukraine' 'United Arab Emirates'
 'United Arab Emirates, Jordan'
 'United Arab Emirates, Jordan, Lebanon, Saudi Arabia'
 'United Arab Emirates, Romania'
 'United Arab Emirates, United Kingdom, India'
 'United Arab Emirates, United States'
 'United Arab Emirates, United States, United Kingdom' 'United Kingdom'
 'United Kingdom,' 'United Kingdom, Australia'
 'United Kingdom, Australia, Canada, United States'
 'United Kingdom, Australia, France'
 'United Kingdom, Australia, France, United States'
 'United Kingdom, Australia, United States' 'United Kingdom, Belgium'
 'United Kingdom, Belgium, Sweden' 'United Kingdom, Brazil, Germany'
 'United Kingdom, Canada' 'United Kingdom, Canada, France, United States'
 'United Kingdom, Canada, Italy' 'United Kingdom, Canada, Japan'
 'United Kingdom, Canada, United States'
 'United Kingdom, Canada, United States, Cayman Islands'
 'United Kingdom, Canada, United States, Germany' 'United Kingdom, China'
 'United Kingdom, China, United States'
 'United Kingdom, China, United States, India'
 'United Kingdom, Czech Republic, Germany, United States'
 'United Kingdom, Czech Republic, United States, Germany, Bahamas'
 'United Kingdom, Denmark, Canada, Croatia'
 'United Kingdom, Egypt, United States'
 'United Kingdom, Finland, Germany, United States, Australia, Japan, France, Ireland'
 'United Kingdom, France' 'United Kingdom, France, Belgium'
 'United Kingdom, France, Belgium, Canada, United States'
 'United Kingdom, France, Belgium, Ireland, United States'
 'United Kingdom, France, Belgium, United States'
 'United Kingdom, France, Canada, Belgium, United States'
 'United Kingdom, France, Germany'
 'United Kingdom, France, Germany, Spain'
 'United Kingdom, France, Germany, United States'
 'United Kingdom, France, Poland, Germany, United States'
 'United Kingdom, France, Spain, United States'
 'United Kingdom, France, United States'
 'United Kingdom, France, United States, Belgium'
 'United Kingdom, France, United States, Belgium, Luxembourg, China, Germany'
 'United Kingdom, Germany' 'United Kingdom, Germany, Canada'
 'United Kingdom, Germany, Canada, United States'
 'United Kingdom, Germany, France, United States'
 'United Kingdom, Germany, Spain, United States'
 'United Kingdom, Germany, United Arab Emirates, New Zealand'
 'United Kingdom, Germany, United States'
 'United Kingdom, Germany, United States, France'
 'United Kingdom, Hong Kong' 'United Kingdom, Hungary, Australia'
 'United Kingdom, India' 'United Kingdom, India, Sweden'
 'United Kingdom, India, United States' 'United Kingdom, Ireland'
 'United Kingdom, Ireland, United States' 'United Kingdom, Israel, Russia'
 'United Kingdom, Italy'
 'United Kingdom, Italy, Israel, Peru, United States'
 'United Kingdom, Japan' 'United Kingdom, Japan, United States'
 'United Kingdom, Jordan, Qatar, Iran' 'United Kingdom, Kenya'
 'United Kingdom, Lithuania' 'United Kingdom, Malawi'
 'United Kingdom, Namibia, South Africa, Zimbabwe, United States'
 'United Kingdom, New Zealand' 'United Kingdom, Nigeria'
 'United Kingdom, Norway, Denmark, Germany, Sweden'
 'United Kingdom, Pakistan' 'United Kingdom, Poland'
 'United Kingdom, Poland, United States' 'United Kingdom, Russia'
 'United Kingdom, Russia, United States' 'United Kingdom, Singapore'
 'United Kingdom, South Africa'
 'United Kingdom, South Africa, Australia, United States'
 'United Kingdom, South Africa, France' 'United Kingdom, South Korea'
 'United Kingdom, Spain' 'United Kingdom, Spain, Belgium'
 'United Kingdom, Spain, United States'
 'United Kingdom, Spain, United States, Germany'
 'United Kingdom, Thailand' 'United Kingdom, Ukraine, United States'
 'United Kingdom, United States'
 'United Kingdom, United States, Australia'
 'United Kingdom, United States, Canada'
 'United Kingdom, United States, Czech Republic'
 'United Kingdom, United States, Dominican Republic'
 'United Kingdom, United States, France'
 'United Kingdom, United States, France, Germany'
 'United Kingdom, United States, France, Italy'
 'United Kingdom, United States, Germany, Denmark, Belgium, Japan'
 'United Kingdom, United States, Ireland'
 'United Kingdom, United States, Japan'
 'United Kingdom, United States, Morocco'
 'United Kingdom, United States, Spain, Germany, Greece, Canada'
 'United Kingdom, West Germany' 'United States' 'United States,'
 'United States, Argentina' 'United States, Australia'
 'United States, Australia, China' 'United States, Australia, Mexico'
 'United States, Australia, Samoa, United Kingdom'
 'United States, Australia, South Africa, United Kingdom'
 'United States, Belgium, Canada, France'
 'United States, Bermuda, Ecuador' 'United States, Botswana'
 'United States, Brazil' 'United States, Brazil, India, Uganda, China'
 'United States, Brazil, Japan, Spain, India'
 'United States, Brazil, South Korea, Mexico, Japan, Germany'
 'United States, Bulgaria' 'United States, Cambodia'
 'United States, Cambodia, Romania' 'United States, Canada'
 'United States, Canada, Belgium, United Kingdom'
 'United States, Canada, China' 'United States, Canada, France'
 'United States, Canada, Germany'
 'United States, Canada, Indonesia, United Kingdom, China, Singapore'
 'United States, Canada, Ireland' 'United States, Canada, Japan, Panama'
 'United States, Canada, United Kingdom' 'United States, Chile'
 'United States, Chile, Israel' 'United States, China'
 'United States, China, Canada' 'United States, China, Colombia'
 'United States, China, Hong Kong' 'United States, China, United Kingdom'
 'United States, Colombia' 'United States, Colombia, Mexico'
 'United States, Czech Republic'

In [32]:
type(unique_type)
unique_type.size

748

In [34]:
type(count)
count.size

748

### Column Name: Release Year

In [38]:
release_year = df['release_year'].dropna().to_numpy()
release_year

array([2020, 2021, 2021, ..., 2009, 2006, 2015], shape=(8807,))

In [42]:
release_year[:1000:10]

array([2020, 2021, 2021, 2021, 2021, 2014, 2010, 2021, 2021, 2019, 2019,
       2021, 2021, 2021, 2014, 1999, 1992, 1997, 2000, 2021, 2004, 2011,
       2021, 2021, 2021, 2020, 2020, 2021, 2021, 2021, 2021, 2021, 2021,
       2009, 2010, 2000, 2010, 2021, 2021, 2019, 2021, 2013, 2012, 2021,
       2021, 2009, 2007, 2021, 2020, 2021, 2021, 2016, 2021, 2015, 2020,
       2021, 2021, 2021, 2021, 2016, 1997, 2003, 2019, 2012, 2021, 2016,
       2021, 1981, 2020, 2021, 2021, 2021, 2021, 2021, 2014, 2021, 2015,
       2021, 2019, 2015, 2012, 1984, 2021, 2021, 2021, 2021, 2020, 2021,
       2021, 2021, 2021, 2021, 2020, 2010, 2014, 2009, 2021, 2011, 2015,
       2015])

#### Basic statistics

In [54]:
print("Average Release Year:", np.mean(release_year))
print("Median Release Year:", np.median(release_year))
print("Oldest Movie Year:", np.min(release_year))
print("Newest Movie Year:", np.max(release_year))

Average Release Year: 2014.1801975701146
Median Release Year: 2017.0
Oldest Movie Year: 1925
Newest Movie Year: 2021

#### Find the Most Common Release Year

In [56]:
unique_years, counts = np.unique(release_year, return_counts=True)
most_common_year = unique_years[np.argmax(counts)]
print("Most Common Release Year:", most_common_year)

Most Common Release Year: 2018

#### Movies released after and befor 2018

In [57]:
after = release_year[release_year > 2018]
print("Movies released after 2018:", len(after))
before = release_year[release_year < 2018]
print("Movies released before 2018:", len(before))

Movies released after 2018: 2575
Movies released before 2018: 5085

### Column Name: Duration

In [52]:
duration = df['duration'].dropna().apply(lambda x: int(str(x).split(" ")[0]) if "min" in str(x) else np.nan).dropna().to_numpy()
duration = np.asarray(duration,dtype=int)
duration

array([ 90,  91, 125, ...,  88,  88, 111], shape=(6128,))

In [53]:
type(duration[0])

numpy.int64

#### Basic statistics

In [55]:
print("Average Duration:", np.mean(duration))
print("Longest Movie Duration:", np.max(duration))
print("Shortest Movie Duration:", np.min(duration))

Average Duration: 99.57718668407311
Longest Movie Duration: 312
Shortest Movie Duration: 3

#### Movies longer than 120 mins

In [58]:
long_movies = duration[duration > 120]
print("Movies longer than 120 minutes:", len(long_movies))

Movies longer than 120 minutes: 1142